@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2126 0.0067 258.3663);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2126 0.0067 258.3663);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2126 0.0067 258.3663);
  --primary: oklch(0.5729 0.2346 261.1985);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8994 0.0206 264.4648);
  --secondary-foreground: oklch(0.2999 0.0046 247.9805);
  --muted: oklch(0.9508 0.0091 258.3359);
  --muted-foreground: oklch(0.4998 0.0049 271.3169);
  --accent: oklch(0.8994 0.0206 264.4648);
  --accent-foreground: oklch(0.2999 0.0046 247.9805);
  --destructive: oklch(0.684 0.207 16.5927);
  --destructive-foreground: oklch(0.9787 0.0057 264.5327);
  --border: oklch(0.8996 0.0105 261.7879);
  --input: oklch(0.8996 0.0105 261.7879);
  --ring: oklch(0.5729 0.2346 261.1985);
  --chart-1: oklch(0.5729 0.2346 261.1985);
  --chart-2: oklch(0.7914 0.2091 151.6619);
  --chart-3: oklch(0.71 0.1688 294.1793);
  --chart-4: oklch(0.645 0.1657 52.0491);
  --chart-5: oklch(0.6227 0.11 184.5255);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2507 0.0048 248.0195);
  --sidebar-primary: oklch(0.5729 0.2346 261.1985);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8994 0.0206 264.4648);
  --sidebar-accent-foreground: oklch(0.2999 0.0046 247.9805);
  --sidebar-border: oklch(0.8501 0.0094 258.3389);
  --sidebar-ring: oklch(0.5729 0.2346 261.1985);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.97 0.001 106.424);
  --card: oklch(0.147 0.004 49.25);
  --card-foreground: oklch(0.97 0.001 106.424);
  --popover: oklch(0.147 0.004 49.25);
  --popover-foreground: oklch(0.97 0.001 106.424);
  --primary: oklch(0.5729 0.2346 261.1985);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.216 0.006 56.043);
  --secondary-foreground: oklch(0.923 0.003 48.717);
  --muted: oklch(0.216 0.006 56.043);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.216 0.006 56.043);
  --accent-foreground: oklch(0.709 0.01 56.259);
  --destructive: oklch(0.684 0.207 16.5927);
  --destructive-foreground: oklch(0.2081 0.0153 261.6011);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.268 0.007 34.298);
  --ring: oklch(0.5729 0.2346 261.1985);
  --chart-1: oklch(0.5729 0.2346 261.1985);
  --chart-2: oklch(0.841 0.238 128.85);
  --chart-3: oklch(0.718 0.202 349.761);
  --chart-4: oklch(0.47 0.157 37.304);
  --chart-5: oklch(0.386 0.063 188.416);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.97 0.001 106.424);
  --sidebar-primary: oklch(0.5729 0.2346 261.1985);
  --sidebar-primary-foreground: oklch(0.268 0.007 34.298);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(0.971 0.013 17.38);
  --sidebar-ring: oklch(0.5729 0.2346 261.1985);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
