config:
  jazz-cloud2:region: us-east-2
  jazz-cloud2:allowedAccountId: "739068833263"
  jazz-cloud2:domainName: cloud2.aws.cloud.jazz.tools
  jazz-cloud2:containerImageRepository: 739068833263.dkr.ecr.us-east-2.amazonaws.com/jazz-multi-server
  jazz-cloud2:containerImageTag: latest
  # Alternatively:
  # jazz-cloud2:containerImage: 739068833263.dkr.ecr.us-east-2.amazonaws.com/jazz-multi-server:latest
  jazz-cloud2:dataVolumeSizeGiB: "100"
  jazz-cloud2:instanceType: t3.large
  # Set as secrets with `pulumi config set --secret`
  # jazz-cloud2:internalApiSecret: ...
  # jazz-cloud2:secretHashKey: ...
